.education-card {
  background-color: #0b0e12;
  color: #f2f3f495;
  border: 1px solid#2babff;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: max-content;

  gap: 8px;
  width: 100%;
  @media (min-width: 768px) {
    gap: 12px;
    height: 250px;
    width: 650px;
    padding: 15px;
  }
}

.education-logo {
  width: fit-content;
  height: 50px;
  margin-top: 5px;
}

.education-org {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.edu-school {
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.edu-degree,
.education-desc,
.edu-grade {
  @media (max-width: 768px) {
    font-size: 12px;
  }
}
.edu-desc-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
