.educationCard {
  width: 650px;
  background-color: #0b0e12;
  color: #f2f3f495;
  border: 1px solid#2babff;
  border-radius: 10px;
  padding: 15px;
  @media (max-width: 768px) {
    gap: 8px;
    width: 100%;
  }
}

.educationCard .card {
  height: 250px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.educationLogo {
  width: fit-content;
  height: 50px;
  display: flex;
}

.educationOrg {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
}
