div .skills {
  color: #fff;
  width: 100%;
  margin: 25px 0px;
}

.skills .container {
  margin: 0 auto;
  height: 100%;
  @media (max-width: 768px) {
    width: 100%;
  }
  @media (min-width: 769px) {
    width: 90%;
  }
}

.skills .row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.headingSkills {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.headingRole {
  text-align: center;
}

.skillsBox {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 300px;
  min-height: 300px;
  max-height: 350px;
  /* background-color: black; */
  border: 1px solid #f3b3c0;
  border-radius: 25px;

  @media (min-width: 1200px) {
    width: 40%;
  }
  @media (max-width: 1200px) {
    width: 50%;
  }
  @media (max-width: 768px) {
    width: 60%;
  }
  @media (max-width: 600px) {
    width: 75%;
  }

  @media (max-width: 480px) {
    width: 95%;
  }
}
.skillsList {
  border: 1px solid blue;
}

div .skillLogo {
  height: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
}
div .skillName {
  height: 100%;
  padding: 1px;
  display: flex;
  align-items: center;
}
.skillImage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skillSet {
  width: 125px;
  height: 40px;
  min-height: 40px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  border: 1px solid #f3b3c0;
  border-radius: 10px;
  align-items: center;
  max-height: 40px;
  margin: 10px;
}

.skillItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
