.projectCard {
  background-color: #0b0e12;
  border: 1px solid #2babff;
  padding: 15px;
  border-radius: 10px;
  color: #f2f3f495;
  cursor: pointer;
  width: 350px;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.projectCard .card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 350px;
}

.projectImage {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}

.projectTagsDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: 10px 0px;
  @media (max-width: 760px) {
    margin: 5px 0px;
    gap: 7px;
  }
}
.projectTags {
  color: #2babff;
  border: 1px solid#2babff;
  padding: 5px 10px;
  border-radius: 10px;
}
.projectDescription {
  margin: 10px 0px;
  @media (max-width: 760px) {
    margin: 5px 0px;
  }
}
