.project-modal {
  width: 100%;
  /* background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4); */
  background-color: #1d2225;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  color: #f2f3f495;
}

.project-modal .container {
  margin: 10vh 0vh;
}
.project-modal .row {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-close-btn {
  float: right;
  cursor: pointer;
}
.project-modal-card {
  width: 50%;
  flex-direction: column;
  flex-wrap: nowrap;
  display: flex;
  border: 1px solid #2babff;
  background-color: #0b0e12;
  height: min-content;
  gap: 8px;
  padding: 25px;
  border-radius: 10px;

  @media (max-width: 768px) {
    width: 95%;
    height: min-content;
    gap: 5px;
    padding: 10px;
  }
}
.project-modal-image {
  width: 100%;
  height: fit-content;
  border-radius: 10px;
}

.project-modal-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
}

.project-code-btn,
.project-live-btn {
  text-decoration: none;
  border: 1px solid #2babff;
  padding: 10px 20px;
  border-radius: 10px;
  color: #2babff;
  &:hover {
    cursor: pointer;
  }
}
